# ========================================
# PERFIL DESARROLLO (H2 en memoria)
# ========================================

google:
  maps:
    api:
      url: https://tpi.wiremockapi.cloud
      key: falsa-api-key-para-wiremock

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    ar.edu.utn.frc.backend.logistica: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
