server:
  port: 8080

spring:
  application:
    name: ms-transporte
  datasource:
    url: jdbc:h2:mem:mstransporte
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: false
  profiles:
    active: dev 

logging:
  level:
    ar.edu.utn.frc.backend.logistica: INFO
