server:
  port: 8080

spring:
  application:
    name: ms-cliente
  datasource:
    url: jdbc:h2:mem:mscliente;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    ar.edu.utn.frc.backend.logistica: INFO

